.react-tabs {
  margin: 25px;
}

.react-tabs ul {
  margin-bottom: 50px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.about-content p {
  font-family: 'Mukta Vaani', sans-serif;
}

.selected-tab {
  font-size: 1.25rem;
  background-color: #F7F3E3;
  border-top: 1px solid #202020 !important;
  border-left: 1px solid #202020 !important;
  border-right: 1px solid #202020 !important;
}

.react-tabs__tab:focus:after {
  background: transparent !important;
}


@media (min-width: 1000px) {
  .about-container {
    margin-top: 80px;
  }

  .about {
    margin-left: 0;
  }

  .about-content {
    position: relative;
    background-color: white;
  }

  .about-container .react-tabs {
    margin-left: 0;
    margin-bottom: 0;
    width: 100%;
  }

  .sheet{
    margin-top: 40px;
    margin-bottom: 30px;
   }

   .sheet-text {
    margin: 0 40px 0 40px;
   }
}
