.carousel-img {
  width: 320px;
  height: 320px;
  object-fit: contain;
}

.carousel {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.react-tabs {
  margin: 25px;
}

.react-tabs ul {
  margin-bottom: 50px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.about-content p {
  font-family: 'Mukta Vaani', sans-serif;
}

.carousel .control-dots {
  display: none;
}

.carousel-arrow {
  display: none;
  align-self: center;
  font-size: 22px;
  color: black;
  text-decoration: none;
  height: 60px;
  width: 80px;
  border-radius: 50%;
  border-style: none;
  background-color: #F7F3E3;
  cursor: pointer;
}

.carousel-arrow:active {
  box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
  transform: scale(.98);
}

.selected-tab {
  background-color: #F7F3E3;
  border-top: 2px solid #202020 !important;
  border-left: 2px solid #202020 !important;
  border-right: 2px solid #202020 !important;
}

.react-tabs__tab:focus:after {
  background: transparent !important;
}


@media (min-width: 1000px) {
  .about-container {
    margin-left: 25px;
  }

  .about {
    margin-left: 0;
  }

  .carousel-img {
    width: 400px;
    height: 400px;
  }

  .carousel-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 80px;
    font-size: 2.3rem;
    padding-bottom: 6px;
    border: 1px solid black;
  }

  .carousel-arrow-next {
    margin-right: 30px;
  }

  .carousel-arrow-prev {
    margin-left: 25px;
  }

  .carousel-arrow:hover {
    box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
    transform: scale(1.03);
  }
}
