.contact-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.form-group {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  margin-top: 50px;
}

.email-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  margin-bottom: 4px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

textarea {
  width: 80%;
  max-width: 400px;
  height: 250px;
  resize: vertical;
  margin-bottom: 10px;
  font-size: 1rem;
  font-family: 'Mukta Vaani', sans-serif;
}

button[type='submit'] {
  background-color: #F7F3E3;
  border-style: none;
  border-radius: 6px;
  width: 68%;
  height: 45px;
  font-size: 1.25rem;
  color: black;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.contact-links {
  display: flex;
  justify-content: center;
}

.contact-link {
  margin: 10px;
  font-size: 3rem;
}

@media (min-width: 1000px) {
  .contact-link {
    display: none;
  }

  .contact form {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .form-group h4 {
    font-size: 1rem;
  }

  .form-group {
    align-items: flex-start;
    align-self: center;
    width: 72%;
    max-width: 800px;
    margin: 50px 0 60px 0;
    background-color: white;
    padding: 10px 20px;
  }

  .email-header {
    display: block;
  }

  .email-header:not(:last-child) {
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
  }

  textarea {
    width: 100%;
    max-width: 610px;
    height: 200px;
    font-size: 1rem;
    margin-top: 10px;
    border: none;
    margin-bottom: 0;
    resize: none;
  }

  textarea:focus {
    outline: none;
  }

  .map {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  button[type='submit'] {
    height: 50px;
    font-size: 1.2rem;
    width: 3.5rem;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    margin-right: 8px;
  }
}
