.contact-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.form-group {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

.email-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 4px;
  position: absolute;
  top: -45px;
  left: 0;
}

textarea {
  width: 100%;
  max-width: 400px;
  height: 150px;
  resize: vertical;
  margin-bottom: 10px;
}

button[type='submit'] {
  background-color: beige;
  border-style: none;
  border-radius: 6px;
  width: 68%;
  height: 35px;
  font-size: 1.25rem;
}

.contact-links {
  display: flex;
  justify-content: center;
}

.contact-link {
  margin: 10px;
  font-size: 1.875rem;
}

@media (min-width: 1000px) {
  .contact-link {
    display: none;
  }

  .contact form {
    display: flex;
    justify-content: center;
  }

  .form-group {
    align-items: center;
    align-self: center;
    width: 80%;
    margin: 50px 0 60px 0;
  }

  .form-group .email-header {
    align-self: flex-start;
    font-size: 1.25rem;
    margin: 0;
  }

  .email-header {
    margin: 0;
  }

  textarea {
    width: 100%;
    font-size: 1rem;
  }

  .map {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  button[type='submit'] {
    height: 50px;
    font-size: 1.5rem;
    width: 5rem;
  }

  button[type='submit']:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  }
}
