.section {
  margin: 25px;
}

.experience h3 {
  text-decoration: underline;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 1.6rem !important;
}

.experience ul {
  list-style-type: disc;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  font-family: 'Mukta Vaani', sans-serif;
}

.experience > div:not(:last-child) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.section-title {
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}

.section h3 {
  margin-bottom: 10px;
  font-size: 1rem !important;
}

.experience .technical-skills-ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0;
  margin: 40px auto;
  max-width: 300px;
}

.technical-skills-li {
  font-size: 2rem;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (min-width: 1000px) {
  .experience {
    margin-left: 25px;
  }

  .section {
    background-color: white;
    margin-top: 0;
  }

  .experience .technical-skills-ul {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    max-width: 100%;
    margin: 0 auto;
  }

  .technical-skills-li {
    font-size: 2.1rem;
    height: 60px;
    align-items: center;
    margin: auto;
  }
}
