.container {
  margin-top: 70px;
  display: grid;
  place-items: center;
}

.profile-pic {
  width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}

.heading {
  margin-bottom: 0px;
}

.subheading {
  margin-top: 0px;
}

.btn {
  margin-right: 10px;
}
