.profile-pic {
  width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: 50%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.heading {
  margin-bottom: 0px;
}

.subheading {
  margin-top: 0px;
}

.header h1,
.header h3,
.header p {
  margin-top: 0px;
  text-align: center;
}

.header p {
  font-size: 12px;
}
