.header-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: beige;
  z-index: -1;
}


.profile-pic {
  width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: 50%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 50px;
}

.heading {
  margin-bottom: 0px;
  font-family: 'Comfortaa', cursive;
}

.subheading {
  margin-top: 0px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.header h1,
.header h3,
.header p {
  margin-top: 0px;
  text-align: center;
}

.header p {
  font-size: 0.75rem;
}

.contact-link-header {
  display: none;
  margin: 10px;
  font-size: 2.5rem;
}

@media (min-width: 1000px) {
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 41%;
    height: 100vh;
    overflow-y: auto;
    background-color: #4a648a;
    z-index: 9999;
  }

  .header {
    align-self: center;
  }

  .profile-pic {
    width: 23rem;
    height: 23rem;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .header h1 {
    font-size: 2.2rem;
  }

  .header h3 {
    font-size: 1.3rem;
  }

  .contact-link-header {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-top: 20px;
  }

  .contact-link-header li {
    cursor: pointer;
  }

  .contact-links {
    padding-left: 0;
  }

  .contact-link-header:hover {
    box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
    transform: scale(1.3);
  }

  .facebook-icon,
  .instagram-icon {
    transform: none !important;
  }
}
