.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: transparent;
  transition: transform 0.3s ease;
  z-index: 9999;
}

.navbar-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 50px;
  background-color: rgba(66, 66, 66, 0.8);
  padding: 15px 10px;
}

.navbar.navbar-hidden {
  transform: translateY(100%);
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar-btn {
  padding: 5px 10px;
  font-size: 30px;
  background-color: transparent;
  border-style: none;
  text-decoration: none;
  color: black;
}

.navbar-btn i {
  opacity: 1;
}
