.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #ffffff;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-btn {
  margin-right: 10px;
  background-color: transparent;
  border-style: none;
}

.navbar-btn:hover {
  color: red;
}

body {
  margin-bottom: 50px; /* Adjust the value to match the height of the navbar */
}
