.navbar {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100px;
  height: 60%;
  border-radius: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease;
  z-index: 9999;
  font-size: 30px;
}

.navbar-visible {
  transform: translateX(250px);
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  left: 100%;
  transform: translateX(-100%);
  padding: 5px 10px;
  font-size: 18px;
  background-color: transparent;
  border-style: none;
  text-decoration: none;
  color: white;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
}

.navbar li {
  margin-bottom: 10px;
}

.navbar-item {
  margin-bottom: 10px;
  color: white;
}
