.main-header {
  margin-bottom: 30px !important;
}

.card {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 75%;
  position: relative;
  border: solid 1px black;
  margin: 0 auto;
  margin-bottom: 30px;
  transition: transform 0.3s;
}

.card h3 {
  text-align: center;
  margin: 6px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.card h4 {
  margin-bottom: 12px;
  margin-left: 6px;
  font-size: 0.75rem;
  text-decoration: underline;
  font-family: 'Mukta Vaani', sans-serif;
}

.card p {
  margin-bottom: 30px;
  font-size: 0.75rem;
  text-align: center;
  margin-bottom: 45px;
  font-family: 'Mukta Vaani', sans-serif;
}

.project-img {
  align-self: center;
  justify-self: center;
  width: 100%;
  max-height: 180px;
  min-height: 150px;
  object-fit: contain;
}

.see-more-button {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  width: 80px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: none;
  border-right: none;
  padding: 6px;
  border-radius: 6px 0 0 0;
  background-color: #F7F3E3;
  color: black;
}

@media (min-width: 1000px) {
  .projects {
    margin-top: 80px;
  }

  .project-img {
    max-height: none;
    max-width: none;
    height: 300px;
    width: 450px;
    object-fit: cover;
    transition: opacity 0.3s ease-out;
  }

  .card {
    width: 450px;
    height: 300px;
    margin: 16px;
  }

  .card-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
  }

  .card:nth-child(even) {
    margin-left: 0;
  }

  .card:hover .project-img {
    opacity: 0.1;
  }

  .button-group {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 10px 10px 0;
  }

  .card-button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
  }

  .see-more-button {
    display: none;
  }

  .card .details {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }

  .card:hover .details {
    opacity: 1;
    border-radius: 6px;
  }

  .card-title {
    font-size: 25px !important;
  }

  .card .details h3,
  .card .details h4,
  .card .details p {
    display: none;
    text-align: center;
    color: black;
    font-size: large;
    margin: 10px;
  }

  .card:hover .details h3,
  .card:hover .details h4,
  .card:hover .details p {
    display: block;
  }

  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    pointer-events: none;
  }
}
